<div class="flex flex-col h-screen bg-gray-100 text-neutral-700">
    <div class="pr-5 h-16 py-2 gap-4 w-full flex justify-between items-center">
        <div class="flex items-center gap-1">
            <div class="p-2 ml-3 rounded-xl cursor-pointer hover:bg-gray-200 transition-colors" (click)="toggleSidebar()">
                <i class="fi fi-sr-menu-burger flex text-lg"></i>
            </div>
            <h1 class="font-bold text-2xl leading-none">CryptoManager</h1>
        </div>
        <div class="flex items-center gap-5">
            <div>
                <button class="bg-purple-100 border border-purple-300 text-purple-500 hover:brightness-[102%] rounded-lg px-3 py-1 flex 
                items-center gap-2 transition-all">
                    <i class="fi fi-ss-fire-flame-curved flex"></i>
                    <span class="text-sm font-medium">Upgrade</span>
                </button>
            </div>
            <div class="p-3 rounded-xl cursor-pointer hover:bg-gray-200 transition-colors">
                <i class="fi fi-ss-bell flex"></i>
            </div>
            <div>
                <div class="bg-gray-200 p-5 rounded-full w-8 h-8 flex items-center justify-center">
                    <p class="leading-none">S</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex w-full grow">
        @if (smallScreen === true && isCollapsed === true) {
            <!-- it will not display sidebar -->
        } @else {
            <aside class="transition-all duration-300 overflow-hidden" [ngClass]="isCollapsed ? 'w-16' : 'w-64'" @navbarSidebarSlideInOutAnimation
            (mouseenter)="isCollapsed ? onMouseEnterSidebar() : null"
            (mouseleave)="onMouseLeaveSidebar()">
                <div class="py-4">
                    @for (section of navbarSections(); track $index) {
                        @if (isCollapsed) {
                            <button class="px-4 mb-2 w-full flex items-center justify-center hover:text-gray-400 cursor-pointer transition-colors"
                            (click)="section.collapsed = !section.collapsed">
                                <i class="fi fi-rr-caret-down flex text-lg transition-transform"
                                [ngClass]="section.collapsed ? 'rotate-180' : ''"></i>
                            </button>
                        }@else {
                            <button class="px-5 mb-2 w-full flex items-center justify-between hover:text-gray-400 cursor-pointer transition-colors"
                            (click)="section.collapsed = !section.collapsed">
                                <span class="uppercase font-semibold whitespace-nowrap text-sm">{{section.label}}</span>
                                <i class="fi fi-rr-caret-down flex transition-transform"
                                [ngClass]="section.collapsed ? 'rotate-180' : ''"></i>
                            </button>
                        }
                        @if(section.collapsed) {
                            <!-- empty -->
                        }@else {
                            <!-- sidebar items -->
                            <ul class="flex flex-col gap-1 overflow-hidden" @navbarItemCollapseAnimation>
                                @for (item of section.items ; track $index) {
                                    <li class="pr-4 pl-5 py-2 rounded-r-2xl flex gap-3 items-center cursor-pointer hover:bg-gray-200 transition-all"
                                    [ngClass]="{
                                        'mr-1' : isCollapsed,
                                        'mr-4': !isCollapsed,
                                        'bg-gray-200' : currentRoute.includes(item.route),
                                        'hover:bg-gray-300': currentRoute.includes(item.route)
                                        }"
                                    role="link" [routerLink]="item.route"
                                    (keydown)="onKeyPressed($event, item.route)">
                                        <i class="fi {{item.icon}} flex text-[1.4rem]"></i>
                                        <a class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">{{item.name}}</a>
                                    </li>
                                }
                            </ul>
                        }
                        <hr class=" border-gray-200 my-2" [ngClass]="isCollapsed ? 'mx-2' : 'mx-5'">
                    }
                </div>
            </aside>
        }


        <div class="border border-gray-300 grow bg-white transition-all duration-300"
        [ngClass]="{
            'rounded-tl-3xl': !smallScreen || (smallScreen && !isCollapsed),
        }">
            <ng-content></ng-content>
        </div>
    </div>
</div>